container_commands:
  01_0_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3.6 manage.py migrate polls --noinput"
  01_1_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3.6 manage.py migrate --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "mysite/wsgi.py"
